- @title = 'Internal error'
- @body_class = 'internal-error'
%h1 Internal error
%p Sorry, gemwatch detected an internal error and cannot continue with your request.
%p
  %em= env['sinatra.error'].message
%div.buttons
  %a{:href => app_url('/')} Start over

