- @title = @gem.name
%h1= 'Package: %s' % @gem.name
- if @gem.info
  %blockquote= @gem.info
%ul
  - if @gem.authors
    %li
      Authors:
      = @gem.authors
  - if @gem.home
    %li
      %a{:href => @gem.home} Home at rubygems.org
%h2 Available downloads
%p
  Most recent version:
  %a{:href => request.scheme + "://" + host_with_port + app_url("/download/#{@gem.tarball}")}= @gem.tarball
- unless @gem.archived.empty?
  %p
    Archived versions:
    %ul
      - @gem.archived.sort.reverse.each do |filename|
        %li
          %a{:href => request.scheme + "://" + host_with_port + app_url("/download/#{filename}")}= filename
%h2 Usage in debian/watch file
%p Use the following in your <code>debian/watch</code> file:
%pre= "version=4\nhttps://#{host_with_port}#{app_url('/'+ @gem.name)} .*/#{@gem.name}-(.*)\.tar\.gz"
%div.buttons
  %a{:href => app_url("/"), :class => 'back-button'} Try another gem
