%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title= [@title, "Gemwatch"].compact.join(' - ')
    %link{:rel => "stylesheet", :type => "text/css", :href => asset_url("/style.css")}
  %body{:class => @body_class}
    %div.header-wrap
      %div.header
        %a{:href => app_url('/') }
          gemwatch
    %div.wrap
      %div.content
        !=yield
    %script{:src => asset_url("/gemwatch.js"), :type => "text/javascript", :charset => "utf-8"}
    %div.footer
      %div
        %a{ :href => app_url('/') } Gemwatch
        &mdash; a
        %a{ :href => "http://rubygems.org/"} rubygems.org
        watching service.
        %a{:href => 'https://salsa.debian.org/ruby-team/gemwatch/blob/master/README.rst'} (README)
      %div
        Copyright &copy; 2010 -
        = Time.now.year
        the
        %a{:href => "http://www.debian.org/"} Debian
        %a{:href => "https://wiki.debian.org/Teams/Ruby"} Ruby team.
      %div
        gemwatch is free software, released under the
        %a{:href => 'http://www.gnu.org/licenses/agpl.html'} GNU Affero General Public License.
      %div
        Source code is available from the
        %a{:href => 'https://salsa.debian.org/ruby-team/gemwatch'} git repository.

