/* Default style */

body {
  font-family: "LMSans10", Helvetiva, Arial, sans-serif;
}

div.header, div.content, div.footer {
  width: 760px;
  margin: 1em auto;
}

.header-wrap {
  color: #eeeeec;
  border-bottom: 1px solid #babdb6;
}

.header a {
  border: none;
  font-size: 32px;
  text-decoration: none;
  font-weight: bold;
  color: #555753;
}

.content {
  padding 1em 1em 1em 1em;
  min-height: 300px;
}

.start  {
  padding-top: 50px;
}
.start form, .start input {
  font-size: 24px;
}
.start input, .buttons a {
  border: 1px solid #888a85;
  padding: 5px;
  text-decoration: none;
}

.buttons {
  margin-top: 2em;
}
.buttons a {
  background: #babdb6;
  font-weight: bold;
}
input[type=submit]:hover, .buttons a:hover {
  background: #a40000;
  color: white;
}

h1 {
  margin-top: 0px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

h2 {
  text-decoration: underline;
}

blockquote {
  background: #eeeeec;
  padding: 5px;
  border-style: solid;
  border-color: #babdb6;
  border-width: 1px 1px 1px 8px;
}

blockquote:before {
}

a, a:link, a:visited {
  color: black;
}

pre, code {
  border: 1px solid #babdb6;
  background: #eeeeec;
  padding: 2px;
}

.footer {
  text-align: right;
  font-style: italic;
  color: #888a85;
}

.footer a, .footer a:visited {
  color: #555753;
}

.footer a:hover {
  color: black;
}

/* Not Found */
body.not-found .content {
  background: #eeeeec;
}

body.not-found h1 {
  color: #555753;
  border-bottom-color: #555753;
}

/* Internal error */
body.internal-error .content {
  background-color: #fc9999;
}

body.internal-error h1 {
  color: #a40000;
  border-bottom-color: #a40000;
}
